body {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  color: orange;
  margin: 200px;
  margin-bottom: 50px;
  margin-top: 50px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 100px;
}

#instruction-header {
  color: orangered;
}

.text {
  width: 700px;
}

.challenge {
  margin-top: 50px;
}

#board {
  width: 360px;
  height: 360px;
  background-color: orangered;
  border: 10px solid orangered;

  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

#board img {
  width: 118px;
  height: 118px;
  border: 1px solid orange;
}

#original-img {
  width: 370px;
  height: 370px;

  margin: 0 auto;
}
