body {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  color: orange;
  margin: 200px;
  margin-bottom: 50px;
  margin-top: 50px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 100px;
}

#instruction-header {
  color: orangered;
}

.text {
  width: 700px;
}

.challenge {
  margin-top: 50px;
}

.game-container {
  width: 360px;
  height: 360px;
  position: relative;
}

#start-screen,
#board {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

#start-screen {
  z-index: 9;
}

#board {
  width: 360px;
  height: 360px;
  background-color: orangered;
  border: 10px solid orangered;

  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

#board img {
  width: 118px;
  height: 118px;
  border: 1px solid orange;
}

#original-img {
  width: 380px;
  height: 380px;
  margin: 0 auto;
  padding-top: 20px;
}

#start-screen {
  width: 340px;
  height: 340px;
  background-color: orange;

  margin: 0 auto;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;

  opacity: 0.9;
}

/* #start-screen:hover {
  opacity: 0.8;
} */

#start-game {
  border: 2px solid #fff;
  color: #fff;
  text-decoration: none;
  padding: 10px 0;
  font-size: 20px;
  border-radius: 15px;
  cursor: pointer;
  width: 150px;
  display: inline-block;
}

#start-game:hover {
  background-color: rgb(241, 193, 104);
  color: #fff;
  font-size: 25px;
  border: 3px solid #fff;
}

#start-game:active {
  background-color: rgb(241, 193, 104);
  color: #fff;
  opacity: 100%;
}

#end-game {
  color: #fff;
  text-decoration: none;
  padding: 10px 0;
  font-size: 25px;
  border-radius: 15px;
  cursor: default;
  width: 150px;
  display: none;
}

#restart {
  border: 2px solid #fff;
  background-color: orange;
  color: #fff;
  text-decoration: none;
  padding: 10px 0;
  font-size: 20px;
  border-radius: 15px;
  cursor: pointer;
  width: 150px;
  display: none;
}

#restart:hover {
  background-color: rgb(241, 193, 104);
  color: #fff;
  font-size: 25px;
  border: 3px solid #fff;
}

#restart:active {
  background-color: orange;
  color: #fff;
}